<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>My express app</title>
 <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="container">
   <h1>WELCOME <%= username%>!</h1>
   <p> Today's date: <%= currentDate %></p>
   <a href="/password">Generate Password</a>
  </div>
 
</body>
</html>